<md-input-container>
    <input mdInput name="componentId" placeholder="Component ID" value="">
</md-input-container>

<md-input-container>
    <input mdInput name="load" placeholder="Load" value="">
</md-input-container>

<md-input-container>
    <input mdInput name="method" placeholder="Method" value="">
</md-input-container>

<md-input-container>
    <input mdInput name="params" placeholder="Params" value="">
</md-input-container>

<md-input-container>
    <input mdInput name="properties" placeholder="Properties" value="">
</md-input-container>
