<h2 md-dialog-title>Add/Edit Action Link</h2>

<md-dialog-content>

  <form #editForm="ngForm" name="editForm" class="dialog-form">

    <div class="row">
      <md-select class="input-medium" #presentation placeholder="Surface As" [(ngModel)]="_actionLink.presentation" name="presentation"
         (change)="handleChangePresentation()" required>
        <md-option *ngFor="let presentation of _presentations" [value]="presentation.name">
          {{presentation.label}}
        </md-option>
      </md-select>
    </div>

    <div class="row" *ngIf="checkAvailableField('spacePx')">
      <md-input-container class="input-small">
        <input mdInput placeholder="Space Pixel" [(ngModel)]="_actionLink.spacePx" name="spacePx" required>
      </md-input-container>
    </div>

    <div class="row" *ngIf="checkAvailableField('textExpr')">
      <md-input-container class="input-large">
        <input mdInput placeholder="Display Text" [(ngModel)]="_actionLink.textExpr" name="textExpr" required>
      </md-input-container>
    </div>

    <div class="row" *ngIf="checkAvailableField('tooltipExpr')">
      <md-input-container class="input-large">
        <input mdInput placeholder="Tootip Text" [(ngModel)]="_actionLink.tooltipExpr" name="tooltipExpr">
      </md-input-container>
    </div>

    <div class="row" *ngIf="checkAvailableField('icon')">
      <md-input-container class="input-small">
        <input mdInput placeholder="Icon" [(ngModel)]="_actionLink.icon" name="icon">
      </md-input-container>
    </div>

    <div class="row" *ngIf="checkAvailableField('align')">
      <md-input-container class="input-small">
        <input mdInput placeholder="Align" [(ngModel)]="_actionLink.align" name="align">
      </md-input-container>
    </div>

    <div class="row" *ngIf="checkAvailableField('assetGuid')">
      <md-input-container class="input-medium">
        <input mdInput placeholder="Asset" [(ngModel)]="_actionLink.assetGuid" name="assetGuid">
      </md-input-container>
    </div>

    <div class="row" *ngIf="_actions.length">
      <md-select class="input-small" #actionType placeholder="Action Type" name="actionType" [(ngModel)]="_selectedActionType">
        <md-option *ngFor="let actionType of _actions" [value]="actionType">
          {{actionType.toUpperCase()}}
        </md-option>
      </md-select>
      <button md-raised-button color="accent" type="button" (click)="_onCreateNewActionClicked()">Create and Configure New Action</button>
    </div>

    <div class="row">
      <md-tab-group>
        <md-tab [label]="event" *ngFor="let event of _events; let i=index;">
          <md-card class="inner-card">
            <div class="row">
              <md-tab-group class="actions-group">
                <md-tab label="COMPONENT">
                  <md-input-container>
                    <input mdInput name="componentId" placeholder="ComponentId" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="load" placeholder="Load" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="method" placeholder="Method" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="params" placeholder="Params" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="properties" placeholder="Properties" value="">
                  </md-input-container>
                </md-tab>
                <md-tab label="EMAIL">
                  <md-input-container>
                    <input mdInput name="bccEmailAddrExpr" placeholder="bccEmailAddrExpr" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="ccEmailAddrExpr" placeholder="ccEmailAddrExpr" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="emailAddrExpr" placeholder="emailAddrExpr" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="messageExpr" placeholder="messageExpr" value="">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput name="subjectExpr" placeholder="subjectExpr" value="">
                  </md-input-container>
                </md-tab>
              </md-tab-group>
              <!--<md-select class="object-type" #objectType placeholder="Type of Object" name="objectType{{i}}" required>
                <md-option *ngFor="let objectType of _objectTypes" [value]="objectType">
                  {{objectType}}
                </md-option>
              </md-select>

              <md-input-container class="what-view">
                <input mdInput placeholder="What to View" name="whatToView{{i}}" required>
              </md-input-container>

              <md-select class="view-type" #viewType placeholder="Where to View" name="whereToView{{i}}" required>
                <md-option *ngFor="let viewType of _viewTypes" [value]="viewType">
                  {{viewType}}
                </md-option>
              </md-select>-->
            </div>
            <div class="row">
              <div fxFlex></div>
              <button md-raised-button color="primary" type="button" class="delete-action">Delete Action</button>
            </div>
          </md-card>
        </md-tab>
      </md-tab-group>
    </div>
  </form>
</md-dialog-content>

<md-dialog-actions>
  <div class="row bottom-actions">
    <button md-raised-button (click)="_dialogRef.close()">Cancel</button>
    <div fxFlex></div>
    <button md-raised-button color="accent" type="button" [disabled]="!editForm.valid" (click)="save()">Save</button>
  </div>
</md-dialog-actions>
