.row {
  padding: 10px;
}

.dialog-form {
  padding-top: 20px;
}

.input-large {
  width: 80%;
  margin-right: 5%;
}

.input-medium {
  width: 60%;
  margin-right: 5%;
}

.input-small {
  width: 30%;
  margin-right: 5%;
}

.radio-button {
  display: block;
  margin: 10px 0;
}

.mat-card {
  // border: none;
  border-top: none;
  min-height: 280px;
}

.object-type, .what-view, .view-type {
  display: block;
  margin: 30px 0;
  width: 80%;
}

.bottom-actions {
  margin-top: 20px;
}
