.row {
  padding: 10px;
}

.surface-type {
  width: 30%;
  margin-right: 5%;
}

.display-text {
  width: 64%;
}

.action-type {
  width: 30%;
  margin-right: 5%;
}

.radio-group {
  display: inline-flex;
  flex-direction: row;
  margin: 30px 0;
  width: 100%;
  .radio-button {
    width: 50%;
  }
}

.object-type, .what-view {
  display: block;
  margin: 20px 0 30px 0;
  width: 30%;
}

.view-type {
  margin: 20px 0 30px 0;
  width: 30%;
}

.delete-action {
  float: right;
  margin-top: 15px;
}

.bottom-actions {
  margin-top: 20px;
}